
body{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background-color: #faf2fa;
  font-family: Arial, Helvetica, sans-serif;
}
ul, ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
img{
  width: 100%;
}
a{
  text-decoration: none;
  color: #303030;
}


h2 {
  text-align: center;
}

.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

.navbar li.active {
  background-color: #cab3e9; 
  color: #fff; 
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 15px; 
}

.navbar a {
  color: inherit; 
  padding: 0.5rem 1rem; 
  text-decoration: none; 
  display: inline-block;
}

#navigation-menu{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
}



#greeting {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
  text-align: left;
  padding-left: 30px;
  padding-top: 80px;
}

.date {
  display: flex;
  align-items: center;
  margin: 30px 0;
  font-size: 16px;
  font-weight: 900;
  padding-left: 30px;
}

.progress{
  margin: 40px 0;
  text-align: left;
  padding-left: 30px;
  font-size: 24px;
  font-weight:600;
}

.container{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #e2d6f1; 
} 

.title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}

    
    
textarea { outline: none; margin-bottom: 0.3rem; padding: 10px;margin: 10px 0; border: 2px solid #d1c4e9; border-radius: 10px; background-color: #e8e1f0; color: #333; font-size: 14px;width: 80%; /* Input field width */ box-sizing: border-box; /* Include padding and border in width */ } /* Specific styles for Task Name (adjustable height) */ textarea#task-name { resize: none; /* Disable manual resizing */ min-height: 40px; /* Minimum height */ overflow: hidden; /* Hide scrollbars for auto height adjustment */ } /* Specific styles for Due On (fixed height) */ textarea#due-on { height: 40px; /* Fixed height */ resize: none; /* Disable manual resizing */ }


    
.input-group{
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-task {
  width: 43%;
  padding: 10px;
  margin: 20px 0;
  border: 2px solid #d1c4e9;
  border-radius: 10px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}